* {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 70%;
    margin: 4rem auto;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 1rem;
}

#header {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid darkgrey;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}