* {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#app {
    width: 70%;
    margin: 4rem auto;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 1rem;
}