* {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 70%;
    margin: 4rem auto;
    padding: 1rem;
    border: 10px solid lightgrey;
    border-radius: 1rem;
}

#header {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid darkgrey;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

#library {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.book {
    background-color: #87cefa22;
    border: 1px solid darkcyan;
    box-shadow: 4px 4px 10px darkgrey;
    border-radius: 1rem;
    padding: 1rem;
    width: 300px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    border-bottom: solid blue;
    font-size: 2rem;
    font-weight: bold;
    height: 8rem;
}

.author {
    font-style: italic;
    font-size: 1.1rem;
    font-weight: bold;
}

.book-buttons {
    display: flex;
    justify-content: space-around;
}

button {
    border-radius: 20px;
    padding: 0.8rem 1.1rem;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.6px;
}

button:active {
    border: 1px solid darkgray;
    font-weight: normal;
}